<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <section>
        <div class="container">
            <h1>Hello , I am <span> Amrit Raj</span></h1>
            <p>Welcome to my first MERN Stack <br> Login-Registration Project</p>
            <br>
            <a href="/register">Register Here</a>
            {{!-- <a href="#">{{name}}</a> --}}
        </div>
    </section>
</body>

</html>