{{>header}}
{{>navbar}}

<div class="form">
    <div class="cont">
        <div class="row g-3 my-5 mx-5">
            <form action="/login" method="POST">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Username" name="username">
                    <br>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    <br>
                    <input type="submit" class="btn btn-secondary px-5" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>