{{>header}}
{{>navbar}}


<div class="row g-3 my-5 mx-5">
    <form action="/login" method="POST">
    <div class="col">
        <input type="text" class="form-control" placeholder="Username" name="username">
        <br>
        <input type="password" class="form-control" placeholder="Password" name="password">
        <br>
        <br>
         <input type="submit" class="btn btn-dark px-5" value="Login">
    </div>
    </form>
</div>